*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    background: #048284;
}

label{
    font-size: 1.5rem;
}

input[type="radio"]{
    font-size: 5rem;
}

#game{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

#playerTitle{
    display: flex;
    width: 100%;
    justify-content: space-around;
    display: none;
}
#roundContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#choices, #letsPlay{
    display: flex;
    justify-content: center;
}

#choices, #restart{
    cursor: pointer;
}

#letsPlay{
    flex-direction: column;
    gap: 1rem;
}

#players{
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.rock::before{
    content: "✊";
}

.paper::before{
    content: "🖐️";
}

.scissors::before{
    content: "✌️";
}


.emoji{
    font-size: 50px;
}
.window{
    width: 50%;
}

.window-body{;
}

#restartContainer {
    display: none;
    flex-direction: column;
}

#restartPopup{
    margin: 1rem;
}

@media screen and (max-width: 768px) {
    .window{
        width: 100%;
    }
}