*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

#game{
    display: flex;
    flex-direction: column;
}

#playerTitle{
    display: flex;
    width: 100%;
    justify-content: space-around;
    display: none;
}
#roundContainer{
    border: 3px solid black;
    padding: .5rem;
}

#choices, #letsPlay{
    display: flex;
    justify-content: center;
}

#choices, #restart{
    cursor: pointer;
}

#letsPlay{
    flex-direction: column;
    gap: 1rem;
}

#players{
    display: flex;
    height: 100px;
}

.rock::before{
    content: "✊";
}

.paper::before{
    content: "🖐️";
}

.scissors::before{
    content: "✌️";
}


.emoji{
    font-size: 50px;
}